{% extends 'mobile/base.html' %}

{% block title %}
Events
{% endblock %}

{% block content %}

<div class="mobile-event-container">
<form method="POST" style="color:white; display: block;">

      {{ select_event_form.csrf_token }}
      {{ select_event_form.event_field.label() }}:
      {{ select_event_form.event_field(class="inspector-field form-control-sm", id="event-field") }}
      &nbsp;
      {{ select_event_form.submit(class="btn btn-light btn-sm") }}

    </form>
</div>
<br><br>


<div class="mobile-event-container" id="mobile-inv-table">
  Event Items

{% if audio_list%}
<div class="mobile-event-list-item"><b>Audio</b></div>
{% endif %}
{% for dict in ID_item_dict %}
  {% if dict in audio_list %}

    <div id="{{dict}}" class="mobile-event-list-item">{{ ID_item_dict[dict]['manufacturer'] }} {{ ID_item_dict[dict]['name'] }}</div>
    <div id="{{dict}}info" style="display: none; width: 95%; padding: 10px;">
      
      ID: {{dict}}<br>
      Barcode: {{ID_item_dict[dict]['barcode']}}<br>
      Category: {{ID_item_dict[dict]['category']}}<br>
      Storage: {{ID_item_dict[dict]['storage']}}<br>
      Notes: {{ID_item_dict[dict]['notes']}}
    </div>
  {% endif %}
{% endfor %}


{% if video_list%}
<div><b>&nbsp;</b></div>
<div class="mobile-event-list-item"><b>Video</b></div>
{% endif %}
{% for dict in ID_item_dict %}
  {% if dict in video_list %}

    <div id="{{dict}}" class="mobile-event-list-item">{{ ID_item_dict[dict]['manufacturer'] }} {{ ID_item_dict[dict]['name'] }}</div>
    <div id="{{dict}}info" style="display: none; width: 95%; padding: 10px;">
      
      ID: {{dict}}<br>
      Barcode: {{ID_item_dict[dict]['barcode']}}<br>
      Category: {{ID_item_dict[dict]['category']}}<br>
      Storage: {{ID_item_dict[dict]['storage']}}<br>
      Notes: {{ID_item_dict[dict]['notes']}}
    </div>
  {% endif %}
{% endfor %}


{% if lighting_list%}
<div><b>&nbsp;</b></div>
<div class="mobile-event-list-item"><b>Lighting</b></div>
{% endif %}
{% for dict in ID_item_dict %}
  {% if dict in lighting_list %}

    <div id="{{dict}}" class="mobile-event-list-item">{{ ID_item_dict[dict]['manufacturer'] }} {{ ID_item_dict[dict]['name'] }}</div>
    <div id="{{dict}}info" style="display: none; width: 95%; padding: 10px;">
      
      ID: {{dict}}<br>
      Barcode: {{ID_item_dict[dict]['barcode']}}<br>
      Category: {{ID_item_dict[dict]['category']}}<br>
      Storage: {{ID_item_dict[dict]['storage']}}<br>
      Notes: {{ID_item_dict[dict]['notes']}}
    </div>
  {% endif %}
{% endfor %}


{% if rigging_list%}
<div><b>&nbsp;</b></div>
<div class="mobile-event-list-item"><b>Rigging</b></div>
{% endif %}
{% for dict in ID_item_dict %}
  {% if dict in rigging_list %}

    <div id="{{dict}}" class="mobile-event-list-item">{{ ID_item_dict[dict]['manufacturer'] }} {{ ID_item_dict[dict]['name'] }}</div>
    <div id="{{dict}}info" style="display: none; width: 95%; padding: 10px;">
      
      ID: {{dict}}<br>
      Barcode: {{ID_item_dict[dict]['barcode']}}<br>
      Category: {{ID_item_dict[dict]['category']}}<br>
      Storage: {{ID_item_dict[dict]['storage']}}<br>
      Notes: {{ID_item_dict[dict]['notes']}}
    </div>
  {% endif %}
{% endfor %}


{% if other_list%}
<div><b>&nbsp;</b></div>
<div class="mobile-event-list-item"><b>Other</b></div>
{% endif %}
{% for dict in ID_item_dict %}
  {% if dict in other_list %}

    <div id="{{dict}}" class="mobile-event-list-item">{{ ID_item_dict[dict]['manufacturer'] }} {{ ID_item_dict[dict]['name'] }}</div>
    <div id="{{dict}}info" style="display: none; width: 95%; padding: 10px;">
      
      ID: {{dict}}<br>
      Barcode: {{ID_item_dict[dict]['barcode']}}<br>
      Category: {{ID_item_dict[dict]['category']}}<br>
      Storage: {{ID_item_dict[dict]['storage']}}<br>
      Notes: {{ID_item_dict[dict]['notes']}}
    </div>
  {% endif %}
{% endfor %}


</div>

<script type="text/javascript" src="{{ url_for('static', filename='scripts-mobile.js') }}"></script>

</body>
<style>
  body{
   background-color: #212529;
   color: white;

 }

</style>

{% endblock %}