{% extends 'mobile/base.html' %}

{% block title %}
Events
{% endblock %}

{% block content %}

<div class="mobile-event-container">
<form method="POST" style="color:white; display: block;">

      {{ select_event_form.csrf_token }}
      {{ select_event_form.event_field.label() }}:
      {{ select_event_form.event_field(class="inspector-field form-control-sm", id="event-field") }}
      &nbsp;
      {{ select_event_form.submit(class="btn btn-light btn-sm") }}

    </form>
</div>
<br><br>


<div class="mobile-event-container" id="mobile-inv-table">
  Event Items

{% if audio_list%}
<div class="mobile-event-list-item"><b>Audio</b></div>
{% endif %}
{% for dict in itemdict2 %}
  {% if itemdict2[dict][0] in audio_list %}

    <div id="{{itemdict2[dict][0]}}" class="mobile-event-list-item">{{ itemdict2[dict][3] }} {{ itemdict2[dict][4] }}</div>
    <div id="{{itemdict2[dict][0]}}info" style="display: none;">
      
      ID: {{itemdict2[dict][0]}}<br>
      Barcode: {{itemdict2[dict][1]}}<br>
      Category: {{itemdict2[dict][5]}}<br>
      Storage: {{itemdict2[dict][6]}}<br>
      Notes: {{itemdict2[dict][6]}}
    </div>
  {% endif %}
{% endfor %}


{% if video_list%}
<div><b>&nbsp;</b></div>
<div class="mobile-event-list-item"><b>Video</b></div>
{% endif %}
{% for dict in itemdict2 %}
  {% if itemdict2[dict][0] in video_list %}

    <div id="{{itemdict2[dict][0]}}" class="mobile-event-list-item">{{ itemdict2[dict][3] }} {{ itemdict2[dict][4] }}</div>
    <div id="{{itemdict2[dict][0]}}info" style="display: none;">
      
      ID: {{itemdict2[dict][0]}}<br>
      Barcode: {{itemdict2[dict][1]}}<br>
      Category: {{itemdict2[dict][5]}}<br>
      Storage: {{itemdict2[dict][6]}}<br>
      Notes: {{itemdict2[dict][6]}}
    </div>
  {% endif %}
{% endfor %}


{% if lighting_list%}
<div><b>&nbsp;</b></div>
<div class="mobile-event-list-item"><b>Lighting</b></div>
{% endif %}
{% for dict in itemdict2 %}
  {% if itemdict2[dict][0] in lighting_list %}

    <div id="{{itemdict2[dict][0]}}" class="mobile-event-list-item">{{ itemdict2[dict][3] }} {{ itemdict2[dict][4] }}</div>
    <div id="{{itemdict2[dict][0]}}info" style="display: none;">
      
      ID: {{itemdict2[dict][0]}}<br>
      Barcode: {{itemdict2[dict][1]}}<br>
      Category: {{itemdict2[dict][5]}}<br>
      Storage: {{itemdict2[dict][6]}}<br>
      Notes: {{itemdict2[dict][6]}}
    </div>
  {% endif %}
{% endfor %}


{% if rigging_list%}
<div><b>&nbsp;</b></div>
<div class="mobile-event-list-item"><b>Rigging</b></div>
{% endif %}
{% for dict in itemdict2 %}
  {% if itemdict2[dict][0] in rigging_list %}

    <div id="{{itemdict2[dict][0]}}" class="mobile-event-list-item">{{ itemdict2[dict][3] }} {{ itemdict2[dict][4] }}</div>
    <div id="{{itemdict2[dict][0]}}info" style="display: none;">
      
      ID: {{itemdict2[dict][0]}}<br>
      Barcode: {{itemdict2[dict][1]}}<br>
      Category: {{itemdict2[dict][5]}}<br>
      Storage: {{itemdict2[dict][6]}}<br>
      Notes: {{itemdict2[dict][6]}}
    </div>
  {% endif %}
{% endfor %}


{% if other_list%}
<div><b>&nbsp;</b></div>
<div class="mobile-event-list-item"><b>Other</b></div>
{% endif %}
{% for dict in itemdict2 %}
  {% if itemdict2[dict][0] in other_list %}

    <div id="{{itemdict2[dict][0]}}" class="mobile-event-list-item">{{ itemdict2[dict][3] }} {{ itemdict2[dict][4] }}</div>
    <div id="{{itemdict2[dict][0]}}info" style="display: none;">
      
      ID: {{itemdict2[dict][0]}}<br>
      Barcode: {{itemdict2[dict][1]}}<br>
      Category: {{itemdict2[dict][5]}}<br>
      Storage: {{itemdict2[dict][6]}}<br>
      Notes: {{itemdict2[dict][6]}}
    </div>
  {% endif %}
{% endfor %}


</div>

<script type="text/javascript" src="{{ url_for('static', filename='scripts-mobile.js') }}"></script>

</body>
<style>
  body{
   background-color: #212529;
   color: white;

 }

</style>

{% endblock %}