{% extends 'mobile/base.html' %}

{% block title %}
Events
{% endblock %}

{% block content %}

<div class="mobile-event-container" style="padding: 10px;">
<form method="POST" style="color:white; display: block;">

      {{ select_event_form.csrf_token }}
      {{ select_event_form.event_field.label() }}:
      {{ select_event_form.event_field(class="inspector-field form-control-sm", id="event-field") }}
      &nbsp;
      {{ select_event_form.submit(class="btn btn-light btn-sm") }}

    </form>
</div>
<br>

<div style="padding: 10px;">Client: {{ client }}<br></div>
<div style="padding: 10px; display: flex; gap: 30px;">
  <div style="display: flex;">
    Start Date:<br> {{ start_date }}<br><br>
    End Date:<br> {{ end_date }}
  </div>
  <div style="display: flex;">
    Load In:<br> {{ load_in }}<br><br>
    Load Out:<br> {{ load_out }}<br>
  </div>
    <div style="display: flex;">
      <div style="display: flex; flex-flow: column;">
      Contact: {{ contact_name }}<br>
      <div>
        <a href="tel:{{contact_phone}}">{{contact_phone}}</a><br>
        <a href="mailto:{{contact_email}}">{{contact_email}}</a><br>
      </div>
    </div>
  </div>
</div>

<div style="padding: 10px;">Notes: {{ notes }}</div>
<br>

<center>Event Items</center>
<div class="mobile-event-container" id="mobile-inv-table">
  

{% if audio_list%}
<div class="mobile-event-list-item"><b>Audio</b></div>
{% endif %}
{% for dict in ID_item_dict %}
  {% if dict in audio_list %}

    <div id="{{dict}}" class="mobile-event-list-item">{{ ID_item_dict[dict]['manufacturer'] }} {{ ID_item_dict[dict]['name'] }}</div>
    <div id="{{dict}}info" style="display: none; width: 95%; padding: 10px;">
      
      ID: {{dict}}<br>
      Barcode: {{ID_item_dict[dict]['barcode']}}<br>
      Category: {{ID_item_dict[dict]['category']}}<br>
      Storage: {{ID_item_dict[dict]['storage']}}<br>
      Notes: {{ID_item_dict[dict]['notes']}}
    </div>
  {% endif %}
{% endfor %}


{% if video_list%}
<div><b>&nbsp;</b></div>
<div class="mobile-event-list-item"><b>Video</b></div>
{% endif %}
{% for dict in ID_item_dict %}
  {% if dict in video_list %}

    <div id="{{dict}}" class="mobile-event-list-item">{{ ID_item_dict[dict]['manufacturer'] }} {{ ID_item_dict[dict]['name'] }}</div>
    <div id="{{dict}}info" style="display: none; width: 95%; padding: 10px;">
      
      ID: {{dict}}<br>
      Barcode: {{ID_item_dict[dict]['barcode']}}<br>
      Category: {{ID_item_dict[dict]['category']}}<br>
      Storage: {{ID_item_dict[dict]['storage']}}<br>
      Notes: {{ID_item_dict[dict]['notes']}}
    </div>
  {% endif %}
{% endfor %}


{% if lighting_list%}
<div><b>&nbsp;</b></div>
<div class="mobile-event-list-item"><b>Lighting</b></div>
{% endif %}
{% for dict in ID_item_dict %}
  {% if dict in lighting_list %}

    <div id="{{dict}}" class="mobile-event-list-item">{{ ID_item_dict[dict]['manufacturer'] }} {{ ID_item_dict[dict]['name'] }}</div>
    <div id="{{dict}}info" style="display: none; width: 95%; padding: 10px;">
      
      ID: {{dict}}<br>
      Barcode: {{ID_item_dict[dict]['barcode']}}<br>
      Category: {{ID_item_dict[dict]['category']}}<br>
      Storage: {{ID_item_dict[dict]['storage']}}<br>
      Notes: {{ID_item_dict[dict]['notes']}}
    </div>
  {% endif %}
{% endfor %}


{% if rigging_list%}
<div><b>&nbsp;</b></div>
<div class="mobile-event-list-item"><b>Rigging</b></div>
{% endif %}
{% for dict in ID_item_dict %}
  {% if dict in rigging_list %}

    <div id="{{dict}}" class="mobile-event-list-item">{{ ID_item_dict[dict]['manufacturer'] }} {{ ID_item_dict[dict]['name'] }}</div>
    <div id="{{dict}}info" style="display: none; width: 95%; padding: 10px;">
      
      ID: {{dict}}<br>
      Barcode: {{ID_item_dict[dict]['barcode']}}<br>
      Category: {{ID_item_dict[dict]['category']}}<br>
      Storage: {{ID_item_dict[dict]['storage']}}<br>
      Notes: {{ID_item_dict[dict]['notes']}}
    </div>
  {% endif %}
{% endfor %}


{% if other_list%}
<div><b>&nbsp;</b></div>
<div class="mobile-event-list-item"><b>Other</b></div>
{% endif %}
{% for dict in ID_item_dict %}
  {% if dict in other_list %}

    <div id="{{dict}}" class="mobile-event-list-item">{{ ID_item_dict[dict]['manufacturer'] }} {{ ID_item_dict[dict]['name'] }}</div>
    <div id="{{dict}}info" style="display: none; width: 95%; padding: 10px;">
      
      ID: {{dict}}<br>
      Barcode: {{ID_item_dict[dict]['barcode']}}<br>
      Category: {{ID_item_dict[dict]['category']}}<br>
      Storage: {{ID_item_dict[dict]['storage']}}<br>
      Notes: {{ID_item_dict[dict]['notes']}}
    </div>
  {% endif %}
{% endfor %}


</div>

<script type="text/javascript" src="{{ url_for('static', filename='scripts-mobile.js') }}"></script>

</body>
<style>
  body{
   background-color: #212529;
   color: white;

 }

</style>

{% endblock %}