{% extends 'mobile/base.html' %}

{% block title %}
Events
{% endblock %}

{% block content %}

<div class="mobile-event-container">

<div class="mobile-event-container" id="mobile-inv-table">
Items

{% if audio_list%}
<div class="mobile-event-list-item"><b>Audio</b></div>
  {% for dict in audio_list %}

    <div id="{{itemdict2[dict][0]}}" class="mobile-event-list-item">{{ itemdict2[dict][3] }} {{ itemdict2[dict][4] }}</div>
    <div id="{{itemdict2[dict][0]}}info" style="display: none; width: 95%;">
        ID: {{itemdict2[dict][0]}}<br>
        Barcode: {{itemdict2[dict][1]}}<br>
        Category: {{itemdict2[dict][5]}}<br>
        Storage: {{itemdict2[dict][6]}}<br>
        Notes: {{itemdict2[dict][8]}}

    </div>
  {% endfor %}
{% endif %}


{% if video_list%}
<div><b>&nbsp;</b></div>
<div class="mobile-event-list-item"><b>Video</b></div>
  {% for dict in video_list %}

    <div id="{{itemdict2[dict][0]}}" class="mobile-event-list-item">{{ itemdict2[dict][3] }} {{ itemdict2[dict][4] }}</div>
    <div id="{{itemdict2[dict][0]}}info" style="display: none; width: 95%;">
      
      ID: {{itemdict2[dict][0]}}<br>
      Barcode: {{itemdict2[dict][1]}}<br>
      Category: {{itemdict2[dict][5]}}<br>
      Storage: {{itemdict2[dict][6]}}<br>
      Notes: {{itemdict2[dict][8]}}
    </div>
  {% endfor %}
{% endif %}



{% if lighting_list %}
<div><b>&nbsp;</b></div>
<div class="mobile-event-list-item"><b>Lighting</b></div>
  {% for dict in lighting_list %}

    <div id="{{itemdict2[dict][0]}}" class="mobile-event-list-item">{{ itemdict2[dict][3] }} {{ itemdict2[dict][4] }}</div>
    <div id="{{itemdict2[dict][0]}}info" style="display: none; width: 95%;">
      
      ID: {{itemdict2[dict][0]}}<br>
      Barcode: {{itemdict2[dict][1]}}<br>
      Category: {{itemdict2[dict][5]}}<br>
      Storage: {{itemdict2[dict][6]}}<br>
      Notes: {{itemdict2[dict][8]}}
    </div>
  {% endfor %}
{% endif %}



{% if rigging_list %}
<div><b>&nbsp;</b></div>
<div class="mobile-event-list-item"><b>Rigging</b></div>
  {% for dict in rigging_list %}

    <div id="{{itemdict2[dict][0]}}" class="mobile-event-list-item">{{ itemdict2[dict][3] }} {{ itemdict2[dict][4] }}</div>
    <div id="{{itemdict2[dict][0]}}info" style="display: none; width: 95%;">
      
      ID: {{itemdict2[dict][0]}}<br>
      Barcode: {{itemdict2[dict][1]}}<br>
      Category: {{itemdict2[dict][5]}}<br>
      Storage: {{itemdict2[dict][6]}}<br>
      Notes: {{itemdict2[dict][8]}}
    </div>
  {% endfor %}
{% endif %}



{% if other_list %}
<div><b>&nbsp;</b></div>
<div class="mobile-event-list-item"><b>Other</b></div>
  {% for dict in other_list %}

    <div id="{{itemdict2[dict][0]}}" class="mobile-event-list-item">{{ itemdict2[dict][3] }} {{ itemdict2[dict][4] }}</div>
    <div id="{{itemdict2[dict][0]}}info" style="display: none; width: 95%;">
      
      ID: {{itemdict2[dict][0]}}<br>
      Barcode: {{itemdict2[dict][1]}}<br>
      Category: {{itemdict2[dict][5]}}<br>
      Storage: {{itemdict2[dict][6]}}<br>
      Notes: {{itemdict2[dict][8]}}
    </div>
  {% endfor %}
{% endif %}


</div>

<script type="text/javascript" src="{{ url_for('static', filename='scripts-mobile.js') }}"></script>

</body>
<style>
  body{
   background-color: #212529;
   color: white;

 }

</style>


{% endblock %}