{% extends 'mobile/base.html' %}

{% block title %}
Events
{% endblock %}

{% block content %}

<div class="mobile-event-container">

<div class="mobile-event-container" id="mobile-inv-table">
Items

{% if audio_list%}
<div class="mobile-event-list-item"><b>Audio</b></div>
  {% for dict in audio_list %}

    <div id="{{dict}}" class="mobile-event-list-item">{{ ID_item_dict[dict]['manufacturer'] }} {{ ID_item_dict[dict]['name'] }}</div>
    <div id="{{dict}}info" style="display: none; width: 95%; padding: 10px;">
        ID: {{dict}}<br>
        Barcode: {{ID_item_dict[dict]['barcode']}}<br>
        Category: {{ID_item_dict[dict]['category']}}<br>
        Storage: {{ID_item_dict[dict]['storage']}}<br>
        Notes: {{ID_item_dict[dict]['notes']}}

    </div>
  {% endfor %}
{% endif %}


{% if video_list%}
<div><b>&nbsp;</b></div>
<div class="mobile-event-list-item"><b>Video</b></div>
  {% for dict in video_list %}

    <div id="{{dict}}" class="mobile-event-list-item">{{ ID_item_dict[dict]['manufacturer'] }} {{ ID_item_dict[dict]['name'] }}</div>
    <div id="{{dict}}info" style="display: none; width: 95%;padding: 10px;">
      
      ID: {{dict}}<br>
      Barcode: {{ID_item_dict[dict]['barcode']}}<br>
      Category: {{ID_item_dict[dict]['category']}}<br>
      Storage: {{ID_item_dict[dict]['storage']}}<br>
      Notes: {{ID_item_dict[dict]['notes']}}
    </div>
  {% endfor %}
{% endif %}



{% if lighting_list %}
<div><b>&nbsp;</b></div>
<div class="mobile-event-list-item"><b>Lighting</b></div>
  {% for dict in lighting_list %}

    <div id="{{dict}}" class="mobile-event-list-item">{{ ID_item_dict[dict]['manufacturer'] }} {{ ID_item_dict[dict]['name'] }}</div>
    <div id="{{dict}}info" style="display: none; width: 95%;padding: 10px;">
      
      ID: {{dict}}<br>
      Barcode: {{ID_item_dict[dict]['barcode']}}<br>
      Category: {{ID_item_dict[dict]['category']}}<br>
      Storage: {{ID_item_dict[dict]['storage']}}<br>
      Notes: {{ID_item_dict[dict]['notes']}}
    </div>
  {% endfor %}
{% endif %}



{% if rigging_list %}
<div><b>&nbsp;</b></div>
<div class="mobile-event-list-item"><b>Rigging</b></div>
  {% for dict in rigging_list %}

    <div id="{{dict}}" class="mobile-event-list-item">{{ ID_item_dict[dict]['manufacturer'] }} {{ ID_item_dict[dict]['name'] }}</div>
    <div id="{{dict}}info" style="display: none; width: 95%;padding: 10px;">
      
      ID: {{dict}}<br>
      Barcode: {{ID_item_dict[dict]['barcode']}}<br>
      Category: {{ID_item_dict[dict]['category']}}<br>
      Storage: {{ID_item_dict[dict]['storage']}}<br>
      Notes: {{ID_item_dict[dict]['notes']}}
    </div>
  {% endfor %}
{% endif %}



{% if other_list %}
<div><b>&nbsp;</b></div>
<div class="mobile-event-list-item"><b>Other</b></div>
  {% for dict in other_list %}

    <div id="{{dict}}" class="mobile-event-list-item">{{ ID_item_dict[dict]['manufacturer'] }} {{ ID_item_dict[dict]['name'] }}</div>
    <div id="{{dict}}info" style="display: none; width: 95%;padding: 10px;">
      
      ID: {{dict}}<br>
      Barcode: {{ID_item_dict[dict]['barcode']}}<br>
      Category: {{ID_item_dict[dict]['category']}}<br>
      Storage: {{ID_item_dict[dict]['storage']}}<br>
      Notes: {{ID_item_dict[dict]['notes']}}
    </div>
  {% endfor %}
{% endif %}


</div>

<script type="text/javascript" src="{{ url_for('static', filename='scripts-mobile.js') }}"></script>

</body>
<style>
  body{
   background-color: #212529;
   color: white;

 }

</style>


{% endblock %}