{% extends 'mobile/base.html' %}

{% block title %}
{{ barcodedict[barcode]['manufacturer'] }}  {{ barcodedict[barcode]['name'] }}
{% endblock %}

{% block content %}


<style type="text/css">
.main-item-div {
	display: flex;
	flex-flow: column;
	margin: auto;
	padding-right: 20%;
}

.item-row-div {
	display: flex;
	flex-flow: row;
	column-gap: 20px;
	justify-content: right;
	align-content: right;
	text-align: right;
	padding: 5px;
}

.item-field {
	width: 220px;
}

.item-notes-field {
	width: 130%;
	height: 100px;
	margin-top: 10px;
}

.update-button {
	margin-right: 50px;
}

</style>


<div style="color: white; display: flex; flex-flow: column; padding: 20px;">

<center>
<h3>{{ barcodedict[barcode]['manufacturer'] }}  {{ barcodedict[barcode]['name'] }}</h3>
</center>
<br>

	<div class="main-item-div">
	<form method="POST">
		{{ inspector_form.csrf_token }}

		<div class="item-row-div">
		<div>ID:</div>
		<div>{{ inspector_form.ID(class="item-field", style="width: 220px;")}}</div>
		</div>

		<div class="item-row-div" style="text-align: left;">
		<div>Barcode:</div>
		<div>{{ inspector_form.barcode(class="item-field")}}</div>
		</div>

		<div class="item-row-div">
		<div>Serial:</div>
		<div>{{ inspector_form.serial(class="item-field")}}</div>
		</div>

		<div class="item-row-div"> 	
		<div>Name:</div>
		<div>{{ inspector_form.name(class="item-field") }}</div>
		</div>

		<div class="item-row-div"> 	
		<div>Manufacturer:</div>
		<div>{{ inspector_form.manufacturer(class="item-field") }}</div>
		</div>

		<div class="item-row-div"> 	
		<div>Category:</div>
		<div>{{ inspector_form.category(class="item-field") }}</div>
		</div>

		<div class="item-row-div"> 	
		<div>Storage:</div>
		<div>{{ inspector_form.storage(class="item-field") }}</div>
		</div>

		<div class="item-row-div"> 	
		<div>Status:</div>
		<div>{{ inspector_form.status(class="item-field") }}</div>
		</div>


	</div>

</div>

<div style="margin: auto; display: flex; justify-content: center; flex-flow: column; color: white;text-align: center;">
	<div>Notes:<br>
	 {{ inspector_form.notes(class="item-notes-field", style="width: 60%; margin: auto;") }}</div>
	 <br>
</div>

<div style="display: flex; flex-flow: row; justify-content: center; align-content: center;">
{{ inspector_form.submit(id="submit", class="update-button btn btn-mid btn-primary") }}

</form>
	<form method="GET" action="/mobile/scanner" style="display: inline-block;">
	<button class="btn btn-mid" style="width: 110px;">Scan Again</button>
</form>

</div>




{% endblock %}
