{% extends 'mobile/base.html' %}

{% block title %}
Mobile Scanner
{% endblock %}

{% block content %}

<div id="reader" style="width: 70%"></div>


<!-- include the library -->
<script src="https://unpkg.com/html5-qrcode@2.0.9/dist/html5-qrcode.min.js"></script>


<script type="text/javascript">

const html5QrCode = new Html5Qrcode(/* element id */ "reader");
html5QrCode.start({ facingMode: "environment" }, 
  {
    fps: 10,    // Optional, frame per seconds for qr code scanning
    formatsToSupport: [Html5QrcodeSupportedFormats.CODE_128]
  },
  (decodedText, decodedResult) => {
    scanBarcode(decodedText)
  },
  (errorMessage) => {
    // parse error, ignore it.
  })
.catch((err) => {
  // Start failed, handle it.
});

</script>


<script type="text/javascript">
	
	function scanBarcode(barcode){

	location.replace('/mobile/item/' + barcode);
    
  }

</script>


{% endblock %}
