{% extends 'mobile/base.html' %}

{% block title %}
Mobile Scanner
{% endblock %}

{% block content %}

<div id="reader" style="width: 100%"></div>


<!-- include the library -->
<script src="https://unpkg.com/html5-qrcode@2.0.9/dist/html5-qrcode.min.js"></script>


<script type="text/javascript">
function onScanSuccess(decodedText, decodedResult) {
    console.log(`Code scanned = ${decodedText}`, decodedResult);
    scanBarcode(decodedText)
}

const formatsToSupport = [
  Html5QrcodeSupportedFormats.CODE_128,
];

const html5QrcodeScanner = new Html5QrcodeScanner(
  "reader",
  {
    fps: 10,
    qrbox: { width: 250, height: 250 },
    formatsToSupport: formatsToSupport
  },
  /* verbose= */ false);

html5QrcodeScanner.render(onScanSuccess);
</script>


<script type="text/javascript">
	
	function scanBarcode(barcode){

	location.replace('/mobile/item/' + barcode);
    
  }

</script>


{% endblock %}
