<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{{ event_name }} Checklist</title>

    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">

</head>


<body style="font-family: Sans-serif;">

<center>

	<img src="/static/logo2.png" style="width: 200px; margin: 0;">
	<h1 style="margin: 0; margin-bottom: 30px;">ClearAVL Event Checklist</h1>


<div class="checklist-info-bar">
	<div>
	<span>Event Name:&nbsp;</span>
	{{ event_name }}
	
	<span>Event Start Date:&nbsp;</span>
	{{ event_date_start }}

	<span>Event End Date:&nbsp;</span>
	{{ event_date_end }}
	</div>

</div>


<br>
<br>

<table class="checklist-table">

<th>
	<td>Barcode</td>
	<td>Manufacturer</td>
	<td style="width: 300px">Name</td>
</th>


{% for item in event_items %}

<tr>
	<td style="font-size: 19px">&#9634;</td>
	<td>{{ itemdict2[item][1] }}</td>
	<td>{{ itemdict2[item][3] }}</td>
	<td>{{ itemdict2[item][4] }}</td>
</tr>

{% endfor  %}

</table>

</table>

</center>

</body>
</html>



