<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{{ event_name }} Checklist</title>

    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">

</head>


<body style="font-family: Sans-serif;">

<center>

	<img src="/static/logo2.png" style="width: 150px; margin: 0;">
	<h1 style="margin: 0; margin-bottom: 30px;">ClearAVL Event Checklist</h1>


<div class="checklist-info-bar">
	<table class="checklist-info-table">
		<tr>
			<td>
				<b>Event Name:</b> {{ event_name }}
			</td>
			<td>
				<b>Load-In Date:</b> {{ load_in_date }}
			</td>
			<td>
				<b>Contact:</b> {{ contact_info["contact_name"] }}
			</td>
		</tr>

		<tr valign="TOP">
			<td>
				<b>Event Start Date:</b> {{ event_date_start }}
			</td>
			<td>
				<b>Load-Out Date:</b> {{ load_out_date }}
			</td>
			<td>
				{{ contact_info["contact_phone"] }}
			</td>
		</tr>

		<tr>
			<td>
				<b>Event End Date:</b> {{ event_date_end }}
			</td>
			<td></td>
			<td>{{ contact_info["contact_email"] }}</td>
		</tr>

	</table>
</div>


<br>
<br>

<table class="checklist-table">

{% if audio_list %}
	<tr><td colspan="4" class="checklist-category">Audio</td></tr>
	<th>	
	<td>Barcode</td>
	<td>Manufacturer</td>
	<td style="width: 300px">Name</td>
</th>
	{% for item in audio_list %}
	<tr>
		<td style="font-size: 19px">&#9634;</td>
		<td>{{ itemdict2[item][1] }}</td>
		<td>{{ itemdict2[item][3] }}</td>
		<td>{{ itemdict2[item][4] }}</td>
	</tr>
	{% endfor  %}
{% endif %}


{% if video_list %}
	<tr><td colspan="4">&nbsp;</td></tr>
	<tr><td colspan="4" class="checklist-category">Video</td></tr>
	<th>	
	<td>Barcode</td>
	<td>Manufacturer</td>
	<td style="width: 300px">Name</td>
</th>
	{% for item in video_list %}
	<tr>
		<td style="font-size: 19px">&#9634;</td>
		<td>{{ itemdict2[item][1] }}</td>
		<td>{{ itemdict2[item][3] }}</td>
		<td>{{ itemdict2[item][4] }}</td>
	</tr>
	{% endfor  %}
{% endif %}


{% if lighting_list %}
	<tr><td colspan="4">&nbsp;</td></tr>
	<tr><td colspan="4" class="checklist-category">Lighting</td></tr>
	<th>	
	<td>Barcode</td>
	<td>Manufacturer</td>
	<td style="width: 300px">Name</td>
</th>
	{% for item in lighting_list %}
	<tr>
		<td style="font-size: 19px">&#9634;</td>
		<td>{{ itemdict2[item][1] }}</td>
		<td>{{ itemdict2[item][3] }}</td>
		<td>{{ itemdict2[item][4] }}</td>
	</tr>
	{% endfor  %}
{% endif %}


{% if rigging_list %}
	<tr><td colspan="4">&nbsp;</td></tr>
	<tr><td colspan="4" class="checklist-category">Rigging</td></tr>
	<th>	
	<td>Barcode</td>
	<td>Manufacturer</td>
	<td style="width: 300px">Name</td>
</th>
	{% for item in rigging_list %}
	<tr>
		<td style="font-size: 19px">&#9634;</td>
		<td>{{ itemdict2[item][1] }}</td>
		<td>{{ itemdict2[item][3] }}</td>
		<td>{{ itemdict2[item][4] }}</td>
	</tr>
	{% endfor  %}
{% endif %}


{% if other_list %}
	<tr><td colspan="4">&nbsp;</td></tr>
	<tr><td colspan="4" class="checklist-category">Other</td></tr>
	<th>	
	<td>Barcode</td>
	<td>Manufacturer</td>
	<td style="width: 300px">Name</td>
</th>
	{% for item in other_list %}
	<tr>
		<td style="font-size: 19px">&#9634;</td>
		<td>{{ itemdict2[item][1] }}</td>
		<td>{{ itemdict2[item][3] }}</td>
		<td>{{ itemdict2[item][4] }}</td>
	</tr>
	{% endfor  %}
{% endif %}


</table>
<br><br>
<tr>
	<td>
		<div class="checklist-info-bar" style="text-align: left; padding: 10px;">
			<b>Event Notes:</b><br>
			{{ event_notes }}
		</div>
	</td>
</tr>

</table>

</center>

</body>
</html>



