{% extends 'base.html' %}

{% block title %}
Create Event
{% endblock %}


{% block content %}


<table class="main-table">

  <tr>

    <form method="POST" style="color:white; display: block;">

      {{ select_event_form.csrf_token }}
      {{ select_event_form.event_field.label() }}:
      {{ select_event_form.event_field(class="inspector-field form-control-sm", id="event-field") }}
      &nbsp;
      {{ select_event_form.submit(class="btn btn-primary btn-sm") }}

    </form>

    &nbsp;

    <form method="POST" action="/events/checklist?event={{ selected_event_name }}" style="color:white; display: block;">
     <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
     <button class="btn btn-light btn-sm">Checklist</button>
   </form>
   &nbsp;
   <form method="POST" action="/events/archive-event?event={{ selected_event_name }}" onSubmit="return confirm('Are you sure you want to archive {{ selected_event_name }}?')" style="color:white; display: block;">
     <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
     <button class="btn btn-danger btn-sm">Archive</button>
   </form>
 </tr>
 <br><br>
 <tr>
  <div>
    <div style="width: 80%; display: flex; flex-direction: column; margin: auto;">

      <form method="POST" style="color:white; display: block;">
      {{ edit_event_form.csrf_token }}
      {{ edit_event_form.event_name }}

      <div style="text-align: center; font-weight: bold; font-size: 24px; border-color: white; border-width: 1; border-style: solid;"
      colspan="4">{{ selected_event_name }}</td>
    </div>
    <div style="padding: 20px; display: flex; flex-direction: row; justify-content: center; column-gap: 100px;">

      <div style="flex-grow: 0;">
        <div style="display: flex; flex-direction: row; column-gap: 10px;">
          <div>
            <div class="event-info-cell">Event Start Date:</div>
            <div class="event-info-cell" style="padding-bottom: 26px;">Event End Date:</div>
            <div class="event-info-cell">Event Load-in:</div>
            <div class="event-info-cell">Event Load-out:</div>
          </div>

          <div style="display: inline-block;">
            {{ edit_event_form.event_date_start }}<br>
            {{ edit_event_form.event_date_end }}<br><br>
            {{ edit_event_form.load_in }}<br>
            {{ edit_event_form.load_out }}
          </div>

        </div>
      </div>

      <div>
        Client: &nbsp;{{ edit_event_form.event_client }}
        <br><br>
        <div style="flex-grow: 3;"><b>Point Of Contact:</b> <br>
          {{ contact_info['contact_name'] }}<br>

          <a href="tel:{{ contact_info['contact_phone'] }}">
            {{ contact_info['contact_phone'] }}<br>
          </a>

          <a href="mailto:{{ contact_info['contact_email'] }}">
            {{ contact_info['contact_email'] }}<br>
          </a>
        </div>
      </div>

      <div>
        <div style="flex-grow: 1; text-align: center;">
          <b>Notes:</b><br> {{ edit_event_form.edit_notes(class="inspector-notes") }}</div>
          <center>
          {{ edit_event_form.update(class="btn btn-primary btn-sm") }}
        </center>

      </div>

      </form>
      
    </div>

  </tr>

  <!-- list of items in event -->
  <tr VALIGN="TOP">
    <td class="inventory-cable-col" id="inv-table">
      <div style="background-color: #212529; padding: 20px;">
        <table class="main-table">
          <tr VALIGN="TOP">

            <td class="inventory-table-col" id="inv-table">
              <div style="padding: 20px; background-color: #212529;">
                <table class="table table-hover table-dark inventory-table2">

                  <h3>Event Inventory</h3>
                  Search:
                  <input type="text" id="item-search2" class="form-control-sm">
                  <br><br>

                  <thead>
                    <tr>
                      <th score="col">Qty</th>
                      <th scope="col">Manufacturer</th>
                      <th scope="col">St.</th>
                      <th scope="col">Name</th>
                      <th scope="col">Barcode</th>
                      <th scope="col"></th>
                      <th scope="col"></th>
                    </tr>
                  </thead>



                  <!-- start code for row with no multiples -->
                  <tbody>
                    {% for dict in selected_event_items_dict.items()|sort(attribute='0') %}
                      {% if selected_event_items_dict[dict[0]]['qty'] < 2: %}

                    <tr style="font-weight: 600;" id="{{ name_item_dict[dict[0]]['ID'] }}">
                      <!-- QTY -->
                      <td>{{ selected_event_items_dict[dict[0]]['qty'] }}</td>
                      <!-- Manufacturer -->
                      <td>{{ selected_event_items_dict[dict[0]]['manufacturer'] }}</td>
                      <!-- Status -->
                      <td>
                        <!-- this code sets the emojis in the status column according to the status of the item in the db -->

                        {% if selected_event_items_dict[dict[0]]['status'] == 'Broken': %}
                        <span class="status-emoji">&#128165</span>

                        {% elif selected_event_items_dict[dict[0]]['status'] == 'Sent For Repair': %}
                        <span class="status-emoji">&#8987</span>

                        {% elif selected_event_items_dict[dict[0]]['status'] == 'Loaned To Customer': %}
                        <span class="status-emoji">&#128100</span>

                        {% elif selected_event_items_dict[dict[0]]['status'] == 'See Notes': %}
                        <span class="status-emoji">&#128203</span>

                        {% endif %} 

                      </td>
                      <!-- Name -->
                      {% if 
                      selected_event_items_dict[dict[0]]['status'] == 'Broken' 
                      or selected_event_items_dict[dict[0]]['status'] == 'Sent For Repair' 
                      or selected_event_items_dict[dict[0]]['status'] == 'Loaned To Customer': %}
                      <td style="color:red">{{ dict[0] }}</td>
                      {% elif selected_event_items_dict[dict[0]]['status'] == 'See Notes'%}
                      <td style="color:yellow">{{ dict[0] }}</td>

                      {% else %}
                      <td>{{ dict[0] }}</td>
                      {% endif %}

                      <!-- Barcode -->
                      <td>{{ selected_event_items_dict[dict[0]]['barcode'] }}</td>

                      <!-- Add to event button -->
                      <td>

                        <button class="remove-from-event-button"
                        onclick="deleteEventItem({{ selected_event_items_dict[dict[0]]['ID'] }})">-</button>

                      </td>

                      <td></td>
                    </tr>

                    {% else %}
                    <tr style="font-weight: 600;">
                      <!-- QTY -->
                      <td>{{ selected_event_items_dict[dict[0]]['qty'] }}</td>
                      <!-- Manufacturer -->
                      <td>{{ selected_event_items_dict[dict[0]]['manufacturer'] }}</td>
                      <!-- Status -->
                      <td></td>
                      <!-- Name -->
                      <td>{{ dict[0] }}</td>
                      <!-- Barcode -->
                      <td></td>
                      <td></td>
                      <td>
                        <button class="btn btn-light btn-sm" id="button{{ selected_event_items_dict[dict[0]]['ID'] }}" onclick="eventCollapse({{ selected_event_items_dict[dict[0]]['ID'] }})">Expand</button>
                      </td>
                    </tr>
                    <!-- end code for item that has no multiples -->



                    <!-- start code for item that has multiples (child) -->
                    {% for item in items %}
                    {% if item.name == dict[0] and selected_event_items_dict[dict[0]]['qty'] > 1 and item.ID in selected_event_items %}
                    <tr class="event-row{{ selected_event_items_dict[dict[0]]['ID'] }} collapse-me" id="{{ item.ID }}">
                      <!-- QTY -->
                      <td class="td-display"></td>
                      <!-- Manufacturer -->
                      <td class="td-display">{{ item.manufacturer }}</td>
                      <!-- Status -->
                      <td class="td-display">
                        <!-- this code sets the emojis in the status column according to the status of the item in the db -->

                        {% if item.status == 'Broken': %}
                        <span class="status-emoji">&#128165</span>

                        {% elif item.status == 'Sent For Repair': %}
                        <span class="status-emoji">&#8987</span>

                        {% elif item.status == 'Loaned To Customer': %}
                        <span class="status-emoji">&#128100</span>

                        {% elif item.status == 'See Notes': %}
                        <span class="status-emoji">&#128203</span>

                        {% endif %} 

                      </td>
                      <!-- Name -->
                      {% if 
                      item.status == 'Broken' 
                      or item.status == 'Sent For Repair' 
                      or item.status == 'Loaned To Customer': %}
                      <td style="color:red" class="td-display">{{ dict[0] }}</td>
                      {% elif item.status == 'See Notes'%}
                      <td style="color:yellow" class="td-display">{{ dict[0] }}</td>

                      {% else %}
                      <td class="td-display">{{ item.name }}</td>
                      {% endif %}

                      <!-- Barcode -->
                      <td class="td-display">{{ item.barcode }}</td>

                      <!-- Add to event button -->
                      <td class="td-display">

                        <button class="remove-from-event-button"
                        onclick="deleteEventItem({{ item.ID }})">-</button>


                      </td>

                      <td class="td-display">
                      </td>
                    </tr>
                    <!-- end code for item that has multiples (child) -->

                    {% endif %}
                    {% endfor %}
                    {% endif %}
                    {% endfor %}
                  </tbody>
                </table>

      </div>

      <div>

        <table class="main-table">
          <tr VALIGN="TOP">

            <td class="inventory-table-col" id="inv-table">
              <div style="padding: 20px; background-color: #212529;">
                <table class="table table-hover table-dark inventory-table3">

                  <h3>Item Inventory</h3>
                  Search:
                  <input type="text" id="inv-item-search" class="form-control-sm">

                  <button type="button" class="btn btn-primary btn-sm" onclick="addCheckedItems()" style="width: 105px; margin-left: 15px">
                    Add Checked
                  </button>

                  <br><br>

                  <thead>
                    <tr>
                      <th></th>
                      <th score="col">Qty</th>
                      <th scope="col">Manufacturer</th>
                      <th scope="col">St.</th>
                      <th scope="col">Name</th>
                      <th scope="col">Barcode</th>
                      <th scope="col"></th>
                      <th scope="col"></th>
                    </tr>
                  </thead>



                  <!-- start code for row with no multiples -->
                  <tbody>
                    {% for dict in name_item_dict.items()|sort(attribute='0') %}
                      {% if name_item_dict[dict[0]]['qty'] < 2: %}

                    <tr style="font-weight: 600;" id="{{ name_item_dict[dict[0]]['ID'] }}">
                      <!-- Checkbox -->
                      <td>
                        <input type="checkbox" value="{{ name_item_dict[dict[0]]['ID'] }}" style="display: inline;" class="inv-checkbox">
                      </td>
                      <!-- QTY -->
                      <td>{{ name_item_dict[dict[0]]['qty'] }}</td>
                      <!-- Manufacturer -->
                      <td>{{ name_item_dict[dict[0]]['manufacturer'] }}</td>
                      <!-- Status -->
                      <td>
                        <!-- this code sets the emojis in the status column according to the status of the item in the db -->

                        {% if name_item_dict[dict[0]]['status'] == 'Broken': %}
                        <span class="status-emoji">&#128165</span>

                        {% elif name_item_dict[dict[0]]['status'] == 'Sent For Repair': %}
                        <span class="status-emoji">&#8987</span>

                        {% elif name_item_dict[dict[0]]['status'] == 'Loaned To Customer': %}
                        <span class="status-emoji">&#128100</span>

                        {% elif name_item_dict[dict[0]]['status'] == 'See Notes': %}
                        <span class="status-emoji">&#128203</span>

                        {% endif %} 

                      </td>
                      <!-- Name -->
                      {% if 
                      name_item_dict[dict[0]]['status'] == 'Broken' 
                      or name_item_dict[dict[0]]['status'] == 'Sent For Repair' 
                      or name_item_dict[dict[0]]['status'] == 'Loaned To Customer': %}
                      <td style="color:red">{{ dict[0] }}</td>
                      {% elif name_item_dict[dict[0]]['status'] == 'See Notes'%}
                      <td style="color:yellow">{{ dict[0] }}</td>

                      {% else %}
                      <td>{{ dict[0] }}</td>
                      {% endif %}

                      <!-- Barcode -->
                      <td>{{ name_item_dict[dict[0]]['barcode'] }}</td>

                      <!-- Add to event button -->
                      <td>
                        {% if name_item_dict[dict[0]]['ID'] not in conflicting_event_items[0] %}

                        <button class="add-to-event-button"
                        onclick="addItemToEvent({{ name_item_dict[dict[0]]['ID'] }})">+</button>

                        {% else %}

                        <button class="conflicting-event-button"
                        onclick="conflictingItem({{ conflicting_event_items[1] }},{{ name_item_dict[dict[0]]['ID'] }})">+</button>

                        {% endif %}

                      </td>

                      <td></td>
                    </tr>

                    {% else %}
                    <tr style="font-weight: 600;">
                      <!-- Checkbox -->
                      <td>
                      </td>
                      <!-- QTY -->
                      <td>{{ name_item_dict[dict[0]]['qty'] }}</td>
                      <!-- Manufacturer -->
                      <td>{{ name_item_dict[dict[0]]['manufacturer'] }}</td>
                      <!-- Status -->
                      <td></td>
                      <!-- Name -->
                      <td>{{ dict[0] }}</td>
                      <!-- Barcode -->
                      <td></td>
                      <td></td>
                      <td>
                        <button class="btn btn-light btn-sm" id="button{{ name_item_dict[dict[0]]['ID'] }}" onclick="collapse({{ name_item_dict[dict[0]]['ID'] }})">Expand</button>
                      </td>
                    </tr>
                    <!-- end code for item that has no multiples -->



                    <!-- start code for item that has multiples (child) -->
                    {% for item in items %}
                    {% if item.name == dict[0] and name_item_dict[dict[0]]['qty'] > 1 %}
                    <tr class="row{{ name_item_dict[dict[0]]['ID'] }} collapse-me" id="{{ item.ID }}">
                      <!-- Checkbox -->
                      <td class="td-display">
                        <input type="checkbox" class="inv-checkbox" value="{{ item.ID }}" style="display: inline;">
                      </td>
                      <!-- QTY -->
                      <td class="td-display"></td>
                      <!-- Manufacturer -->
                      <td class="td-display">{{ item.manufacturer }}</td>
                      <!-- Status -->
                      <td class="td-display">
                        <!-- this code sets the emojis in the status column according to the status of the item in the db -->

                        {% if item.status == 'Broken': %}
                        <span class="status-emoji">&#128165</span>

                        {% elif item.status == 'Sent For Repair': %}
                        <span class="status-emoji">&#8987</span>

                        {% elif item.status == 'Loaned To Customer': %}
                        <span class="status-emoji">&#128100</span>

                        {% elif item.status == 'See Notes': %}
                        <span class="status-emoji">&#128203</span>

                        {% endif %} 

                      </td>
                      <!-- Name -->
                      {% if 
                      item.status == 'Broken' 
                      or item.status == 'Sent For Repair' 
                      or item.status == 'Loaned To Customer': %}
                      <td style="color:red" class="td-display">{{ dict[0] }}</td>
                      {% elif item.status == 'See Notes'%}
                      <td style="color:yellow" class="td-display">{{ dict[0] }}</td>

                      {% else %}
                      <td class="td-display">{{ item.name }}</td>
                      {% endif %}

                      <!-- Barcode -->
                      <td class="td-display">{{ item.barcode }}</td>

                      <!-- Add to event button -->
                      <td class="td-display">

                        {% if item.ID not in conflicting_event_items[0] %}

                        <button class="add-to-event-button"
                        onclick="addItemToEvent({{ item.ID }})">+</button>

                        {% else %}

                        <button class="conflicting-event-button"
                        onclick="conflictingItem({{ conflicting_event_items[1] }},{{ name_item_dict[dict[0]]['ID'] }})">+</button>

                        {% endif %}

                      </td>

                      <td class="td-display">
                      </td>
                    </tr>
                    <!-- end code for item that has multiples (child) -->

                    {% endif %}
                    {% endfor %}
                    {% endif %}
                    {% endfor %}
                  </tbody>
                </table>
              </div>

            </td>


            <td>
              {% include 'inspector_bar.html' %}
            </td>


          </table>

        </tr>

      </div>

    </table>


    <script type="text/javascript" src="{{ url_for('static', filename='scripts.js') }}"></script>


    <script type="text/javascript">
      var csrf_token = "{{ csrf_token() }}";


      function addItemToEvent(item){
        var event = document.getElementById('event-field').value;

        $.ajax({
          type: 'POST',
          url: '/events/add',
          headers: {
            "X-CSRFToken": csrf_token
          },
          data: {id: item, event: event },
          // this will allow the render_html return to work
          success:function(response){ document.write(response);}
        })
      }


      function addCheckedItems(){
        var event = document.getElementById('event-field').value;

        $.ajax({
          type: 'POST',
          url: '/events/addchecked',
          headers: {
            "X-CSRFToken": csrf_token
          },
          data: {id: getCheckedItems(), event: event },
          // this will allow the render_html return to work
          success:function(response){ document.write(response);}

        })

      }



      function deleteEventItem(item){
        var event = document.getElementById('event-field').value;

        $.ajax({
          type: 'POST',
          url: '/events/remove',
          headers: {
            "X-CSRFToken": csrf_token
          },
          data: {id: item, event: event },
          // this will allow the render_html return to work
          success:function(response){ document.write(response);}
        })
      }


      function deleteEvent(){
        var event = document.getElementById('event-field').value;

        $.ajax({
          type: 'POST',
          url: '/events/archive-event',
          headers: {
            "X-CSRFToken": csrf_token
          },
          data: {event: event},
          // this will allow the render_html return to work
          success:function(response){ document.write(response);}
        })
      }
    </script>


    {% endblock %}