{% extends 'base.html' %}

{% block title %}
Home
{% endblock %}

{% block content %}
<table class="main-table">
  <tr VALIGN="TOP">
    <td class="inventory-table-col" id="inv-table">
      <div style="padding: 20px; background-color: #212529;">

        Search:
        <input type="text" id="item-search" class="form-control-sm" autofocus>
        <br><br>

        <table class="table table-hover table-dark inventory-table">
          <thead>
            <tr>
              <th score="col">Qty</th>
              <th scope="col">Manufacturer</th>
              <th scope="col">St.</th>
              <th scope="col">Name</th>
              <th scope="col">Barcode</th>
              <th scope="col"></th>
              <th scope="col"></th>
            </tr>
          </thead>



          <!-- start code for row with no multiples -->
          <tbody>
            {% for dict in name_item_dict %}
            {% if name_item_dict[dict]['qty'] < 2: %}

            <tr style="font-weight: 600;" id="{{ name_item_dict[dict]['ID'] }}">
              <!-- QTY -->
              <td>{{ name_item_dict[dict]['qty'] }}</td>
              <!-- Manufacturer -->
              <td>{{ name_item_dict[dict]['manufacturer'] }}</td>
              <!-- Status -->
              <td>
                <!-- this code sets the emojis in the status column according to the status of the item in the db -->

                {% if name_item_dict[dict]['status'] == 'Broken': %}
                <span class="status-emoji">&#128165</span>

                {% elif name_item_dict[dict]['status'] == 'Sent For Repair': %}
                <span class="status-emoji">&#8987</span>

                {% elif name_item_dict[dict]['status'] == 'Loaned To Customer': %}
                <span class="status-emoji">&#128100</span>

                {% elif name_item_dict[dict]['status'] == 'See Notes': %}
                <span class="status-emoji">&#128203</span>

                {% endif %} 

              </td>
              <!-- Name -->
              {% if 
              name_item_dict[dict]['status'] == 'Broken' 
              or name_item_dict[dict]['status'] == 'Sent For Repair' 
              or name_item_dict[dict]['status'] == 'Loaned To Customer': %}
              <td style="color:red">{{ dict }}</td>
              {% elif name_item_dict[dict]['status'] == 'See Notes'%}
              <td style="color:yellow">{{ dict }}</td>

              {% else %}
              <td>{{ dict }}</td>
              {% endif %}

              <!-- Barcode -->
              <td>{{ name_item_dict[dict]['barcode'] }}</td>
              <td>
              </td>
              <td></td>
            </tr>

            {% else %}
            <tr style="font-weight: 600;">
              <!-- QTY -->
              <td>{{ name_item_dict[dict]['qty'] }}</td>
              <!-- Manufacturer -->
              <td>{{ name_item_dict[dict]['manufacturer'] }}</td>
              <!-- Status -->
              <td></td>
              <!-- Name -->
              <td>{{ dict }}</td>
              <!-- Barcode -->
              <td></td>
              <td></td>
              <td>
                <button class="btn btn-light btn-sm" id="button{{ name_item_dict[dict]['ID'] }}" onclick="collapse({{ name_item_dict[dict]['ID'] }})">Expand</button>
              </td>
            </tr>
          <!-- end code for item that has no multiples -->



          <!-- start code for item that has multiples (child) -->
          {% for item in items %}
          {% if item.name == dict and name_item_dict[dict]['qty'] > 1 %}
          <tr class="row{{ name_item_dict[dict]['ID'] }}" id="{{ item.ID }}">
            <!-- QTY -->
            <td class="td-display"></td>
            <!-- Manufacturer -->
            <td class="td-display">{{ item.manufacturer }}</td>
            <!-- Status -->
            <td class="td-display">
              <!-- this code sets the emojis in the status column according to the status of the item in the db -->

              {% if item.status == 'Broken': %}
              <span class="status-emoji">&#128165</span>

              {% elif item.status == 'Sent For Repair': %}
              <span class="status-emoji">&#8987</span>

              {% elif item.status == 'Loaned To Customer': %}
              <span class="status-emoji">&#128100</span>

              {% elif item.status == 'See Notes': %}
              <span class="status-emoji">&#128203</span>

              {% endif %} 

            </td>
            <!-- Name -->
            {% if 
            item.status == 'Broken' 
            or item.status == 'Sent For Repair' 
            or item.status == 'Loaned To Customer': %}
            <td style="color:red" class="td-display">{{ dict }}</td>
            {% elif item.status == 'See Notes'%}
            <td style="color:yellow" class="td-display">{{ dict }}</td>

            {% else %}
            <td class="td-display">{{ item.name }}</td>
            {% endif %}

            <!-- Barcode -->
            <td class="td-display">{{ item.barcode }}</td>
            <td class="td-display">
            </td>
            <td class="td-display">
            </td>
          </tr>
          <!-- end code for item that has multiples (child) -->


          <script type="text/javascript">

            </script>

            {% endif %}
            {% endfor %}
            {% endif %}
            {% endfor %}
          </tbody>
        </table>
      </div>
    </td>

  <td>
    {% include 'inspector_bar.html' %}
  </td>

    </table>


<script type="text/javascript" src="{{ url_for('static', filename='scripts.js') }}"></script>


{% endblock %}

